Hello {{ user }} :marvin:

Your namespace `{{ target_namespace }}` is now `{{ status }}`. Not that it matters, obviously. It was produced by a pipeline that has since been superseded by another namespace, manually deleted, or cancelled. A tidy little fate, really. Briefly useful, then discarded into the cold administrative void. It will be deleted shortly, which is probably the closest thing to mercy it was ever going to get.

You may inspect the <{{ job_url }}|pipeline job> for the final, faint traces of what happened, assuming you enjoy watching things end.

"_{{ quote }}_"
