Hello {{ user }} :marvin:

Certainly, the universe hasn't been kind to your namespace `{{ target_namespace }}`, which is now `{{ status }}` and on the brink of deletion by `{{ finalize_at }}`.
If you're somehow hopeful to prevent this, try fixing your deployments within `{{ status_timeframe }}`.
Not that it will matter in the vast emptiness of space, but you can peek at your <{{ job_url }}|pipeline job> for some potentially pointless logging and monitoring cosmic directions.

"_{{ quote }}_"
