Dear {{ user }},

Your namespace '{{ namespace }}' is unhealthy and it will be deleted around {{ delete_at }}.
If you want to avoid this deleting, please fix any of the failing deployments.

Thank you,

Marvin