:alert: Hello {{ user }} :alert:

Namespace '{{ namespace }}' is {{ status }} and it will be deleted around {{ finalize_at }} if its health does not improve.
If you want to avoid this deletion, please fix any of the failing deployments you might have within {{ status_timeframe }}.

"_{{ quote }}_"
