Hello {{ user }} :marvin:

Alas, the universe has whimsically erased your namespace `{{ target_namespace }}` for being `{{ status }}`: {{ status_detail }}.
Not that it would make much difference in the grand scheme of things, but should you find yourself curiously baffled, consult your <{{ job_url }}|pipeline job> for some clues buried in monitoring and logging speckles of dust.

"_{{ quote }}_"
