Dear {{ user }},

Your namespace '{{ namespace }}' has been deleted because it was deemed to be {{ status }}.
If this is unexpected, please consult the appropriate monitoring and logging tools to search for relevant information.

Thank you,

Marvin