:alert: Hello {{ user }} :alert:

Namespace '{{ target_namespace }}' has been deleted because it was deemed to be {{ status }} [{{ status_timeframe }}].
If this is unexpected, please consult the appropriate monitoring and logging tools to search for relevant information.

"_{{ quote }}_"
