Hello {{ user }} :marvin:

Your namespace {{ target_namespace }} is now {{ status }}. A newer deployment for the same CI work has appeared, so this older namespace will be deleted shortly.

You may inspect the <{{ job_url }}|pipeline job> for the final, faint traces of what happened, assuming you enjoy watching things end.

"_{{ quote }}_"
